.link {
  display: inline;
  color: rgb(212, 212, 212);
  transition: filter 0.3s linear;
  text-decoration: underline;
}

.link:hover {
  filter: brightness(150%);
}

.text {
  display: inline;
  margin-left: 0.25rem;
}
