# IDEs
.idea/
*.iml
*.ipr
*.iws
.settings/
*.classpath
*.project

# Java
target/
.gradle/

# Node.js + Front-end
node_modules/
dist/
build/
coverage/
.cache/
*.tsbuildinfo
next-env.d.ts

# Next.js
.contentlayer/
.next/
out/

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Envs
.env
.env*.local

# Sonar
.sonar
.scannerwork

# Files + Folders
tmp/
temp/
.DS_Store
*.pem
