:root {
  --max-width: 56rem;
  --body-background-color: #FAFAF8;
  --body-color: #333333;
  --container-border-color: rgb(64, 64, 64);
  --container-background-color: rgb(38, 38, 38);
  --container-border-radius: 4px;
  --navigation-margin-top: 3.5rem;
  --navigation-height: 36px;
  --main-padding-top: 2rem;
  --footer-height: 44px;
  --footer-margin-top-bottom: 2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  scroll-behavior: smooth;
  min-height: calc(100vh - var(--navigation-margin-top));
  max-width: var(--max-width);
  color: var(--body-color);
  background: var(--body-background-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - (var(--navigation-margin-top) + var(--navigation-height) + var(--main-padding-top) + (var(--footer-margin-top-bottom) + var(--footer-height))));
}

.card-header-container {
  display: flex;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}

article p {
  margin: 1.25rem 0;
}

article ul {
  list-style: none;
  padding-left: 1.625rem;
}

.page-container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  text-align: justify;
}

[data-rehype-pretty-code-fragment] pre {
  margin: 1.25rem 0;
  border-radius: 0.5rem;
  line-height: 20px;
}

[data-rehype-pretty-code-fragment] code {
  padding: 0.75rem 1rem;
  overflow-x: auto;
  display: block;
  font-size: 14px;
  color: #fff;
  word-wrap: break-word;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] code::-webkit-scrollbar {
  height: 8px;
}

[data-rehype-pretty-code-fragment] code::-webkit-scrollbar-thumb {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  background-color: #A2A9B6;
}

[data-rehype-pretty-code-fragment] code::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

[data-rehype-pretty-code-title] {
  padding: 0.75rem 1rem;
  border: 1px solid #333333;
  font-size: 12px;
  line-height: 16px;
  background-color: rgb(28, 28, 28);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: rgb(229, 229, 229);
}

[data-rehype-pretty-code-title] + pre {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

article img {
  display: flex;
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

article figure pre {
  margin-bottom: 0 !important;
}

article figcaption {
  padding: 0.5rem;
  text-align: center;
  color: rgb(115, 115, 115);
  font-size: 13px;
}

article a {
  color: #fff;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color: #525252;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 2px;
}

article p:not([data-rehype-pretty-code-fragment]) code,
article li:not([data-rehype-pretty-code-fragment]) code {
  font-size: 14px;
  line-height: 25px;
  padding: 0.125rem 0.5rem;
  border: 1px solid rgb(38, 38, 38);
  background-color: rgb(23, 23, 23);
  border-radius: 0.5rem;
}

article blockquote {
  font-weight: 500;
  font-style: italic;
  color: #f5f5f5;
  border-left: 0.25rem solid rgb(64, 64, 64);
  quotes: "\201C""\201D""\2018""\2019";
  padding-left: 1em;
  /* in 154 row you can changing text-align for blockquote tag ('start' is defauld value for text-align) */
  text-align: center;
}

article hr {
  border-color: rgb(64, 64, 64);
  border-top-width: 1px;
  margin: 3rem 0;
}

.not-found-page {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  min-height: calc(100vh - (var(--navigation-margin-top) + var(--navigation-height) + var(--main-padding-top) + ((var(--footer-margin-top-bottom) * 2) + var(--footer-height))));
}

.not-found-page h1 {
  font-size: 24px;
  padding-right: 23px;
  font-weight: 500;
  line-height: 49px;
  vertical-align: top;
  border-right: 1px solid rgba(255,255,255, 0.3);
}

.not-found-page h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 49px;
}

.any-page {
  display: flex;
  flex-direction: column;
}

.any-page p:first-child {
  margin-top: 0;
}

.any-page-paragraph {
  margin-top: 1.00rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}

.homepage-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

.homepage-subtitle {
  font-size: 28px;
  font-weight: 900;
  line-height: 1;
}

.homepage-subtitle-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 60px;
}

.see-more-button {
  border: none;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

.link {
  color: rgb(115, 115, 115);
  transition: color 0.1s linear;
}

.active {
  color: #252525;
  border-bottom: 1px solid #252525;
  border-radius: 2px;
}

.link .active,
.homepage-link {
  border-bottom: 1px solid #333333;
}

.homepage-link {
  color: #333333;
}

.image {
  width: 100%;
  height: 100%;
}

.app-card-header-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.app-card {
  position: relative;
  background-color: #F5F5F5;
  padding: 20px;
  border-radius: 16px;
  transition: all 250ms ease;
}

.app-card-users {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
}

.app-card:hover {
  scale: 1.05;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

.app-cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.app-card-wrapper {
  flex-basis: calc((100% - 20px) / 2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.app-card {
  flex: 1;
}

.app-card-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  color: #252525;
}

.app-card p {
  margin-bottom: 5px;
}

.app-card .link {
  position: relative;
  color: #4B4B4B;
  border-bottom: none;
  padding-bottom: 5px;
}

.app-card .link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #333333;
  transition: width 0.3s ease-in-out;
}

.app-card .link:hover::after {
  width: 100%;
}

.arrow-icon {
  transform: rotate(90deg);
  display: inline-block;
  width: 6px;
  height: 10px;
}

.app-card-container {
  display: flex;
  flex-direction: column;
}

.newsletter-form {
  display: flex;
  align-items: center;
  gap: 8px;
}

.newsletter-input {
  width: 80%;
}

.newsletter-button {
  background-color: #252525;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
}

.newsletter-input {
  font-family: 'Roboto Mono', monospace;
}

.newsletter-input::placeholder {
  font-family: 'Roboto Mono', monospace;
  color: #333333;
}

.newsletter-button,
.newsletter-input {
  padding: 10px;
  border: none;
  border-radius: 8px;
}

.date,
.details {
  color: #a3a3a3;
}

.description-text {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.location {
  margin-top: 3px;
}

.main-title {
  margin-bottom: 10px;
}

.home-main-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.any-page-paragraph.m-0 {
  margin-top: 0;
}

.about-main-image {
  margin-top: 20px;
}

.portfolio-card {
  margin-top: 20px;
  padding: 20px;
  background-color: #F5F5F5;
  border-radius: 16px;
  text-align: center;
}

.portfolio-card__image {
  display: block;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: auto;
  background-color: #333333;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 10px;
}

.portfolio-card__text {
  margin-top: 3px;
  margin-bottom: 20px;
  font-size: 14px;
}

.portfolio-card__description {
  text-align: justify;
  font-size: 14px;
  margin-top: 10px;
}

.portfolio-card__list {
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
  list-style-type: none;
}

.portfolio-card__title {
  margin-top: 20px;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.technology {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc((100% - 40px) / 3);
  border-radius: 4px;
  padding: 5px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

.technology-icon {
  width: 100px;
  height: 40px;
  object-fit: contain;
}

.technology-icon.jenkins {
  filter: brightness(0.5);
}

@media (max-width: 768px) {
  body {
    padding: 0 1.25rem;
  }

  .app-cards-container,
  .app-card {
    display: block;
  }

  .app-card:not(:last-child) {
    margin-bottom: 20px;
  }

}

@media (max-width: 730px) {
  .home-main-text-container {
    margin-bottom: 25px;
  }

  .technology {
    flex-basis: calc((100% - 20px) / 2);
  }
}
