.home {
  display: flex;
  flex-direction: column;
}

.home p:first-child {
  margin-top: 0;
}

.badges {
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery {
  margin-top: 1.25rem;
}

.paragraph {
  margin-top: 1.25rem;
}

.technologies {
  list-style: inside none;
}

.technology {

}
