.content {
  display: flex;
  align-items: center;
}

.imageConteiner {
  height: 4rem;
  position: relative;
}

.image {
  display: block;
  border: 1px solid;
  border-radius: 100%;
  border-color: var(--container-border-color);
}

.icon {
  display: inline-flex;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  border-color: var(--container-border-color);
  border-radius: 100%;
  position: relative;
  top: -1.5rem;
  right: -2.5rem;
}

.information {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
}