.l {
  margin: 0 auto 0 0;
}

.c {
  margin: 0 auto;
}

.r {
  margin: 0 0 0 auto;
}

.horizontal,
.vertical,
.lineVertical,
.lineHorizontal {
  display: flex;
}

.horizontal,
.lineVertical {
  flex-direction: column;
}

.container {
  position: relative;
  flex: 1 1 auto;
}

.image {
  object-fit: cover;
  object-position: center;
}

.roundedImage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.swiper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.swiperContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.slideImage {
  object-fit: scale-down;
}

.closeIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1100;
  transition: all 0.2s ease-in-out;
}

.closeIcon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.closeIcon:active {
  transform: scale(1);
}

.arrowLeft {
  position: absolute;
  top: 50%;
  left: 1rem;
  z-index: 1100;
  transition: all 0.2s ease-in-out;
}

.arrowRight {
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1100;
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

.arrowLeft:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.arrowRight:hover {
  transform: rotate(180deg) scale(1.2);
  cursor: pointer;
}

.arrowLeft:active {
  transform: scale(1);
}

.arrowRight:active {
  transform: rotate(180deg) scale(1);
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
