.title {
  margin-bottom: 2rem;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.link {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.3;
  color: rgb(163, 163, 163);
  transition: transform 0.2s ease-in-out;
}

.link:hover {
  transform: scale(1.02) translateX(1%);
  overflow: hidden;
}

.link:hover .arrow {
  right: -19px;
}

.postDate {
  color: #4B4B4B;
}

.category {
  position: relative;
  display: flex;
  align-items: center;
}

.tooltip {
  padding: 0 0.5rem;
  position: absolute;
  top: -150%;
  left: -50%;
  color: #fff;
  text-transform: capitalize;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s linear;
  background-color: var(--container-background-color);
  border: 1px solid var(--container-border-color);
  border-radius: var(--container-border-radius);
}

.tooltipVisible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-out;
}

.postDescription {
  display: flex;
  position: relative;
  overflow: hidden;
  flex: 5;
  flex-direction: column;
}

.postTitle {
  max-width: 470px;
  margin-bottom: 5px;
  overflow: hidden;
  word-wrap: break-word;
  text-align: left;
  color: #333333;
  font-weight: 400;
}

.arrow {
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translate(-50%, -50%);
  transition: right 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .postDescription {
    flex: 4;
  }
}
