.footer {
  margin: var(--footer-margin-top-bottom) 0;
  padding: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.socialList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.socialList li {
  margin-right: 8px;
  border: 1px solid #7373732e;
  border-radius: 2px;
  transition: box-shadow 0.3s ease-out;
}

.socialList li:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.socialLink {
  position: relative;
  display: flex;
  padding: 3px;
}

.icon {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.iconHidden {
  opacity: 0;
}

.hoverIcon {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.hoverIconVisible {
  opacity: 1;
}

@media (max-width: 768px) {
  .footer {
    margin: 1rem 0;
  }

  .socialList {
    gap: 12px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
