.cookie {
  padding: 0 1.25rem;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade 0.5s ease-in-out;
}

.wrapper {
  width: fit-content;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--body-background-color);
  box-shadow: 0 0 1.25rem var(--container-background-color);
  border-radius: var(--container-border-radius);
  border: 1px solid var(--container-border-color);

  @media (max-width: 768px) {
    max-width: 540px;
  }

  @media (max-width: 576px) {
    width: 100%;
    flex-direction: column;
  }
}

.content {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (max-width: 375px) {
    flex-direction: column;
  }
}

.text {
  text-align: center;
  color: var(--paragraph-color);
}

.acceptButton {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: var(--container-background-color);
  border: 1px solid var(--container-border-color);
  border-radius: var(--container-border-radius);
  color: var(--paragraph-color);
  transition: all 0.3s ease-in-out;

  @media (max-width: 576px) {
    width: 100%;
  }
}

.acceptButton:hover {
  border-color: var(--body-color);
  color: var(--body-color);
}

.acceptButton:active {
  border-color: var(--container-border-color);
  color: var(--paragraph-color);
}

@media (max-width: 768px) {
  .acceptButton:active {
    border-color: var(--body-color);
    color: var(--body-color);
  }
}

@keyframes fade {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}
